html,body {
  margin: 0;
	padding: 0;
	height: 100%;
}
body {
  font-family: 'Arial', sans-serif;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.wrapper {
  height: 100%;
}
.panelLeft, .panelRight {
  height: 100%;
  width: 75%;
  float: left;
  background-color: #334559;
  color: #F3F1F3;
  overflow-y: auto;
}
.panelLeft .content, .panelRight .content  {
  padding: 20px;
}
.panelLeft .content li {
  margin-bottom: 5px;
}
.panelLeft .content ul li.notFound {
  color: #FF907F;
}
.panelRight {
  width: 25%;
  background-color: #688F5E;
}
.panelRight .content .h2  {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.panelRight .content ul  {
  margin-bottom: 20px;
}
.panelRight .content ul li  {
  margin-bottom: 5px;
}
.panelRight .content ul li span  {
  color: #252525;
  font-weight: 700;
}
.panelRight .content form input  {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  font-size: 1em;
}
.panelRight .content form .submitForm  {
  cursor: pointer;
  background-color: #FFFEA2;
}
